

.container{
  margin-top: -200px;
}

.contenido{
  background: linear-gradient(to right, #9C27B0, #fdc7d3);
}
.contenedor{
 
  margin-bottom: 100%;
  background-color: white;
  background: linear-gradient(to right, #9C27B0, #fdc7d3);
}
.mat-toolbar-row, .mat-toolbar-single-row {
  
  background-color: #f5cbd6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
  font-size: 75%;
  font-weight: 800;
}
a:hover {
  color:rgb(224, 55, 91)
}


.form{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 25px black;
  transition: all 0.25s;
  background-color: white;
}

.container{
  display:flex;
  flex-direction: column;
  
}
.button{
  width: 100%;
}
.card{
  min-width: 150px;
  max-width: 500px;
  width: 500%;
  height: 150%;
  margin-left: 0%;
}

mat-card-title{
  text-align: center;
}
/* From uiverse.io by @adamgiebl */
button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, rgb(224, 55, 91), #9C27B0, #40074a);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
  width: 40%;
  margin-left: 40px;
 }
 
 button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
 button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
 }
 
 button:hover svg {
  transform: translateX(5px) rotate(90deg);
 }
 
 button:hover span {
  transform: translateX(7px);
 }
.mat-sidenav-content{
  background: linear-gradient(to right, #9C27B0, #fdc7d3);

}

.container img{
  box-shadow: 20px 20px 25px black;
  transition: all 0.25s;

  margin-bottom: 5%;

}
.container img:hover {
  /* Mi elemento se translade en Y -15px -Hacia arriba */
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(244, 158, 176);
}
/* From uiverse.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #7d0f90;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #090f15;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #7d0f90;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #f47e9d;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }
 .icon{
   margin-left: 45%;
   padding-bottom: 10px;
   padding: 1%;
 }











